.picGrid{
  display: grid;
  grid-template-columns: 180px 180px 180px 180px;
  width: fit-content;
  margin:auto;
  align-items: center;
  padding: 10px;
  grid-gap: 15px;
  background-color: rgb(50, 68, 80);
}

.badClass{
  animation-name: "shimmy";
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.endShow{
  position: absolute;
  width: 300px;
  top: 35%;
  left: calc(50vw - 150px);
  background-color: green;
  color: white;
  animation-name: "flash";
  animation-duration: 3s;
  animation-fill-mode: backwards;
}

.endShow h2{
  font-size: 50px;
  text-align: center;
  font-family: 'Rakkas', cursive;

}

@keyframes flash{
  0% {opacity: 1}
  25% {opacity: 0}
  50% {opacity: 1}
  75% {opacity: 0}
  100% {opacity: 1}
}

.noShow{
  display: none;
}

@keyframes shimmy {
  0% {transform: translateX(40px)}
  25% {transform: translateX(-30px)}
  50% {transform: translateX(20px)}
  75% {transform: translateX(-10px)}
  100% {transform: translateX(0px)}
}

@media (max-width: 900px) {
  .picGrid{
    grid-template-columns: auto auto auto; 
  }
}

@media (max-width: 600px) {
  .picGrid{
    grid-template-columns: auto auto; 
  }
}