.picture{
  max-width: 180px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px rgba(255, 255, 255, 0.548) solid;
  box-shadow: 2px 8px 8px black;
}

.picture:active{
  box-shadow: none;
  transition: all, .2s;
}

.picture:hover{
  transform: scale(1.04)
}

.picture img{
  width: 100%;
  height: auto;
}

.win{
  animation-name: "dance";
  animation-duration: 3s;
  animation-fill-mode: backwards;
  animation-timing-function: linear;
}

@keyframes dance{
  0% {transform: rotateZ(0deg) scale(1)}
  50% {transform: rotateZ(360deg) scale(.5)}
  100% {transform: rotateZ(720deg) scale(1)}
}