.scoreboard{
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color:#333;
  color: white;
  font-family: 'Rakkas', cursive;
  margin-bottom: .25em;
  padding: 5px 50px;
  text-shadow: 3px 3px black
}

.scores{
  display: flex;
}

.scores h3:nth-child(1){
  margin-right:  20px;
}

.board{
  width: 310px;
  text-align: center;
}

@media (max-width: 1000px) {
  .scoreboard{
    flex-direction: column;
  }

  .board{
    margin: auto;
  }

  
}

@media (max-width:450px) {
  .scoreboard{
    padding: 10px 0px;
  }

  .scoreboard h3{
    font-size: 24px;
  }

  .board{
    width: 100%;
  }

  .scores{
    flex-direction: column;
  }

  .scores h3:nth-child(1){
    margin-right:  0;
  }
}